{% extends "layout.html" %}

{% block js %}
<script src="/static/scripts/add.js"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
<link href="/static/styles/add.css" rel="stylesheet" />
{% endblock %}

{% block main %}
<h1>Add a Recipe</h1>
<form action="/add" method="post" enctype="multipart/form-data" autocomplete="off">
	<input name="title" id="recipe-title" placeholder="Enter Title" required />

	<!-- DETAILS -->
	<div id="recipe-details">
		<select name="type">
			<option selected disabled>Select Type</option>
			{% for type in types %}
			<option>{{type}}</option>
			{% endfor %}
		</select>
		<select name="cousine">
			<option selected disabled>Select Cousine</option>
			{% for cousine in cousines %}
			<option>{{cousine}}</option>
			{% endfor %}
		</select>
		<input name="image" type="file" class="form-control form-control-lg" id="imageUpload" accept="image/*" />
		<input name="weight" placeholder="Total Weight (g/ml)" id="weight" required />
	</div>

	<!-- INGREDIENTS -->
	<div class="grid-container">
		<h2>Ingredients</h2>
		<div class="grid">
			<div class="row">
				<input name="ingredientAmounts" class="ingredient-amount" placeholder="Amount" required />
				<select name="ingredientMeasurements" class="ingredient-measurement" required>
					<option selected disabled>Measurement</option>
					{% for measurement in measurements %}
					<option>{{measurement}}</option>
					{% endfor %}
				</select>
				<input name="ingredientDescriptions" class="description ingredient-description"
					placeholder="Enter Ingredient" required />
				<button class="removeButton" type="button" onclick="removeRow(this)" hidden>X</button>
			</div>
		</div>
		<button type="button" onclick="addRow(this)">+ Add Ingredient</button>
	</div>

	<!-- STEPS -->
	<div class="grid-container">
		<h2>Steps</h2>
		<div class="grid">
			<div class="row">
				<button class="moveUpButton" type="button" onclick="moveUpRow(this)" hidden>
					<strong>^</strong>
				</button>
				<div class="step-num">1.</div>
				<input class="step-num-db" hidden name="stepNumbers" value="1" />
				<input name="stepDescriptions" class="description step-description" placeholder="Enter Step Description"
					required />
				<button class="removeButton" type="button" onclick="removeRow(this)" hidden>X</button>
			</div>
		</div>
		<button type="button" onclick="addRow(this)">+ Add Step</button>
	</div>
	<button id="submit-button" type="submit">Submit Recipe</button>
</form>
{% endblock %}